body {
  background: #004047;
}

.header__title {
  font-family: "Livvic", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 140px;
  padding-bottom: 64px;
}


.row__list {
  background: #012F34;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 40px;
  position: relative;
  margin-top: 70px;
}

.row__img {
  padding-bottom: 16px;
}

.row__text {
  font-family: "Livvic", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}

.row__p {
  font-family: "Livvic", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.row__span {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #F67E7E;
  position: absolute;
  z-index: 1;
  margin-left: -35px;
  bottom: -30px;
  text-align: center;
  padding-top: 23px;
  font-size: 40px;
  font-weight: bold;
  line-height: 0;
  color: #012F34;
}

.row__link {
  background: #012F34;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 40px;
  position: relative;
  margin-top: 70px;
}

.row__logo {
  padding-left: 16px;
  padding-bottom: 40px;
}

.row__items {
  width: 254px;
  font-family: "Livvic", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.row__spam {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #F67E7E;
  position: absolute;
  z-index: 1;
  margin-left: -60px;
  bottom: -30px;
  text-align: center;
  padding-top: 23px;
  font-size: 40px;
  font-weight: bold;
  line-height: 0;
  color: #012F34;
}


@media only screen and (max-width: 440px) {
  .header__title {
    font-size: 32px;
    line-height: 32px;
  }
} 